@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700&display=swap');

body {
  font-family: 'League Spartan', sans-serif;
}

.font-1 {
  font-family: 'Titillium Web', sans-serif;
}

.card img {
  filter: brightness(50%);
}

.progress {
  height: 25px;
}

#particles-js {
  position: absolute;
  width: 1370px;
  height: 700px;
  background-color: black;
  z-index: -9999;
  top: -0%;
  right: 80%;
}

.back {
  z-index: 2;
}

#about,
#skill,
#project,
#contact,
.navbar {
  background-color: black;
}

.link {
  margin: 0px -12px;
}

.fp-watermark {
  z-index: -9999;
}

.navbar {
  margin-bottom: -20px;
}

@media (max-width: 576px) {
  .foto {
    height: 250px;
  }

  #slide1 {
    margin-top: -60px;
  }
}