@font-face {
  font-family: leaguespartan;
  src: url(../font/League_Spartan/LeagueSpartan-VariableFont_wght.ttf);
}

@font-face {
  font-family: titilium;
  src: url(../font/Titillium_Web/TitilliumWeb-Black.ttf);
}

body {
  font-family: 'leaguespartan';
}

.font-1 {
  font-family: 'titilium';
}

.card img {
  filter: brightness(50%);
}

.progress {
  height: 25px;
}

#particles-js {
  position: absolute;
  width: 1370px;
  height: 700px;
  background-color: black;
  z-index: -9999;
  top: -0%;
  right: 80%;
}

.test {
  z-index: 2;
}

#about,
#skill,
#project,
#contact,
.navbar {
  background-color: black;
}

.link {
  margin: 0px -15px;
}